
@import url('https://fonts.googleapis.com/css2?family=Main:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css');


/*//////////// abaixo está o css do footer////////////////*/

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EBBA83;
  color: black;
  width: auto;
  height: 150px;
  justify-content: space-between; 
  padding: 10px;
}

.footer a {
  color: black;
}

.footer p {
  text-align: center;
  justify-content: center;
}

.logoFooter img {
  justify-content: end;
  padding-right: 10px;
  width: 100px;
  height: 100px;
}

.socialList {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
}

.socialList a {
  font-size: 2rem;
  color: #333;
  
}



/*//////////// acima está o css do footer////////////////*/
