/* css.module.css */

/* Estilos para o cabeçalho */
.cabecalho {
    background-color: #EBBA83;
    padding: 20px;
  }

  .cabecalho a:link, .cabecalho a:visited {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
}
  
.cabecalho a:hover {
    color: rgb(123, 60, 39);
}

  /* Estilos para o logotipo */
  .logo {
    padding-right: 10px;
    width: 50px;
    height: 50px;
  }
  
  /* Estilos para a barra de navegação */
  .nav {
    display: flex;
    justify-content: space-between; /* Distribui os elementos horizontalmente */
    align-items: center;
  }
  
  /* Estilos para os links na barra de navegação */
  .nav a {
    margin-right: 20px; /* Espaçamento entre os ícones */
  }
  
  /* Estilos para o botão de adicionar produto e carrinho */
  .adicionarProduto,
  .carrinho {
    display: flex;
    align-items: center;
  }
  
  /* Estilos para a mensagem de marketing */
  .mensagem {
    text-align: center; /* Centraliza a mensagem */
    margin-top: 20px; /* Espaçamento acima da mensagem */
    font-size: 18px;
    text-align: center; /* Centraliza a mensagem */
    flex-grow: 1; /* Permite que a mensagem ocupe o espaço restante */
    margin: 0;
  }
  
  /* Estilos para o botão de adicionar produto */
  .adicionarProduto {
    background-color: #5dc95d;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    justify-content: end;
    display: flex;
  }
  
  /* Estilos para o botão de adicionar produto no hover */
  .adicionarProduto:hover {
    background-color: #28A428; /* Cor de fundo verde mais escura no hover */
  }
  

  /*//////////// abaixo está o css dos cards////////////////*/
  .main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px; 
    padding: 1cm;
    
}
.card{
    display: flex;
    flex-direction: column;
    padding: 1cm;
    width: 200px;
    height: 200px;
    border-radius: 24px;
    background-color: #EBE2D2;
    justify-content: center;
    align-items: center;
   
}

/*//////////// acima está o css dos cards////////////////*/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    color:white
    
  }