/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/product/[id]/product.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.product_productContainer__h4tGg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
    margin: 100px;
  }
  
  .product_productImage__uWFCf {
    flex: 1 1;
    max-width: 400px;
    margin-right: 20px;
  }
  
  .product_productDetails__UoVYN {
    flex: 2 1;
    max-width: 600px;
  }
  
  .product_productTitle__w07BB {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .product_productCategory__yBcK3,
  .product_productDescription__9UnqZ,
  .product_productPrice___E4j_,
  .product_productRating__5UIOa,
  .product_productCount__Qo4gi {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .product_productCategory__yBcK3 strong,
  .product_productDescription__9UnqZ strong,
  .product_productPrice___E4j_ strong,
  .product_productRating__5UIOa strong,
  .product_productCount__Qo4gi strong {
    font-weight: bold;
  }
  
  .product_productContainer__h4tGg img {
    border-radius: 10px;
  }
  
