.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px; 
    
}
.card{
    display: flex;
    flex-direction: column;
    padding: 1cm;
    width: 200px;
    height: 200px;
    border-radius: 24px;
    background-color: beige;
    justify-content: center;
    align-items: center;
   
}

