/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/componentes/css.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Main:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css');


/*//////////// abaixo está o css do footer////////////////*/

.css_footer__XDxDf {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EBBA83;
  color: black;
  width: auto;
  height: 150px;
  justify-content: space-between; 
  padding: 10px;
}

.css_footer__XDxDf a {
  color: black;
}

.css_footer__XDxDf p {
  text-align: center;
  justify-content: center;
}

.css_logoFooter__zlXKr img {
  justify-content: end;
  padding-right: 10px;
  width: 100px;
  height: 100px;
}

.css_socialList__l0pGt {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
}

.css_socialList__l0pGt a {
  font-size: 2rem;
  color: #333;
  
}



/*//////////// acima está o css do footer////////////////*/

/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/componentes/header.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
/* header.module.css */
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

/* Importação da fonte para o Fale Conosco */
@import url('https://fonts.googleapis.com/css2?family=Arial&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css');

.header_cabecalho__XKHGW {
  background-color: #EBBA83;
  padding-inline: 10px;
  height: auto;
  position: relative; /* Define o cabeçalho como relativo para conter os elementos filhos posicionados absolutamente */
}

.header_nav__IZ4la {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_menuIcon__NglEr {
  cursor: pointer;
}

.header_logoTitle__IpTiO {
  position: absolute; /* Posiciona absolutamente dentro do cabeçalho */
 align-items: center;
 justify-content: center;
 left: 40%;
 font-size: 45px;
transform: translateY(-1%);
 

  font-family: 'Marcellus', serif; /* Fonte similar à Louis Vuitton */
}

.header_fale_conosco__N_WV7 {
  font-family: 'Arial', sans-serif; /* Fonte Arial para o Fale Conosco */
  font-size: 1.2em;
}

.header_icons__cXGhe {
  display: flex;
  align-items: center;
}

.header_icons__cXGhe a {
  position: relative;
  margin-left: 20px;
  color: inherit; /* Herdar cor do texto */
  text-decoration: none;
}

.header_icons__cXGhe a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 1.5px;
  background: white;
  transition: width 0.3s ease-in-out;
}

.header_icons__cXGhe a:hover {
  color: white; /* Muda a cor dos ícones para branco */
}

.header_icons__cXGhe a:hover::after {
  width: 100%; /* Aumenta a linha de largura 0 a 100% */
}

.header_categories__j9kb3 {
  position: absolute;
  top: 70px;
  left: 0;
  width: 200px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.header_categories__j9kb3 a {
  display: block;
  padding: 10px;
  color: #000;
  text-decoration: none;
}

.header_categories__j9kb3 a:hover {
  background-color: #EBBA83;
  color: white;
}

