/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/componentes/css.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
/* css.module.css */

/* Estilos para o cabeçalho */
.css_cabecalho__YURxA {
    background-color: #EBBA83;
    padding: 20px;
  }

  .css_cabecalho__YURxA a:link, .css_cabecalho__YURxA a:visited {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
}
  
.css_cabecalho__YURxA a:hover {
    color: rgb(123, 60, 39);
}

  /* Estilos para o logotipo */
  .css_logo__JsLRU {
    padding-right: 10px;
    width: 50px;
    height: 50px;
  }
  
  /* Estilos para a barra de navegação */
  .css_nav__PVcDG {
    display: flex;
    justify-content: space-between; /* Distribui os elementos horizontalmente */
    align-items: center;
  }
  
  /* Estilos para os links na barra de navegação */
  .css_nav__PVcDG a {
    margin-right: 20px; /* Espaçamento entre os ícones */
  }
  
  /* Estilos para o botão de adicionar produto e carrinho */
  .css_adicionarProduto___bHIH,
  .css_carrinho__2Q1N6 {
    display: flex;
    align-items: center;
  }
  
  /* Estilos para a mensagem de marketing */
  .css_mensagem__tTEIi {
    text-align: center; /* Centraliza a mensagem */
    margin-top: 20px; /* Espaçamento acima da mensagem */
    font-size: 18px;
    text-align: center; /* Centraliza a mensagem */
    flex-grow: 1; /* Permite que a mensagem ocupe o espaço restante */
    margin: 0;
  }
  
  /* Estilos para o botão de adicionar produto */
  .css_adicionarProduto___bHIH {
    background-color: #5dc95d;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    justify-content: end;
    display: flex;
  }
  
  /* Estilos para o botão de adicionar produto no hover */
  .css_adicionarProduto___bHIH:hover {
    background-color: #28A428; /* Cor de fundo verde mais escura no hover */
  }
  

  /*//////////// abaixo está o css dos cards////////////////*/
  .css_main__2jQIh{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px; 
    padding: 1cm;
    
}
.css_card__lIYBe{
    display: flex;
    flex-direction: column;
    padding: 1cm;
    width: 200px;
    height: 200px;
    border-radius: 24px;
    background-color: #EBE2D2;
    justify-content: center;
    align-items: center;
   
}

/*//////////// acima está o css dos cards////////////////*/

.css_footer__XDxDf {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    color:white;
    width: auto;
    height: 150px;
    justify-content: space-between; 
    
    
  }

  .css_footer__XDxDf a{
    color: white;
  }

  .css_footer__XDxDf p{
    
    justify-content: center;
  }
 
 .css_logoFooter__zlXKr img{
    justify-content: end;
    padding-right: 10px;
    width: 100px;
    height: 100px;
  }
